{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2>Set Monthly Budget</h2>

    <form method="POST">

        <div class="mb-3">
            <label>Budget ($)</label>
            <input
                type="number"
                step="0.01"
                name="budget"
                class="form-control"
                required>
        </div>

        <button class="btn btn-success">
            Save Budget
        </button>

    </form>

</div>

{% endblock %}